.image-root {
  background-size: cover;
  background-position: center center;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  border: 1px solid white;

.no {
  transform: scaleX(10);
}
  .yes {
    transform: scaleX(-10);
  }
  > div {
    visibility: hidden;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 80 px;
    left: 0;
    color: white;
    padding: 15px;
    text-align: center;
    text-align: center;
    box-sizing: border-box;
    white-space: pre;
    align-items: center;
    justify-content: center;
    display: inline-block;
    vertical-align: bottom;
  }

  &:hover > div {
    visibility: visible;
  }

  .image-icon {
    font-size: 20px;
    vertical-align: middle;
    border: 1px solid #ccc;
    color: #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding: 12px;
    margin: 3px;

    &:hover {
      color: white;
      border-color: white;
    }
  }
}
.no {
  transform: scaleX(1);
  > div {
    transform: scaleX(1);
  }
}
.yes {
  transform: scaleX(-1);
  > div {
    transform: scaleX(-1);
  }
}

